
@* ************** Content ************** *@
<!-- Xac nhan thanh toan form -->
<form class="needs-validation modal-form" novalidate="" method="post" asp-controller="HsBookings" asp-action="GiamGiaPhatSinh" enctype="multipart/form-data" data-modal-id="modal-GiamGiaPhatSinh">
    <div class="modal fade" id="modal-GiamGiaPhatSinh" data-bs-backdrop="static" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
            <div class="modal-content card mb-6">
                <div class="modal-header">
                    <h5 class="modal-title card-header" id="modalCenterTitle">GIẢM GIÁ PHÁT SINH</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body card-body">
                        <div class="row gx-5 mb-5">
                            <div class="col-md-12">
                                <input type="hidden" id="Id" name="Id" value="" />
                                <div class="form-floating form-floating-outline mb-6">
                                    <select id="CustomerID" name="CustomerID" class="form-select form-select-sm mb-6" data-placeholder="Khách hàng" disabled>
                                        <option value="">Chọn khách hàng</option>
                                    </select>
                                    <label for="CustomerID">Khách hàng</label>
                                    <div class="valid-feedback"> Looks good! </div>
                                    <div class="invalid-feedback"> Không được bỏ trống. </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Thong tin chung -->
                                <div class="row gx-5 mb-5">
                                    <div class="col-md-12 card-header"><strong class="mb-0 text-primary">Giảm giá (Nhập 1 trong 2)</strong></div>
                                    <div class="col-md-12">
                                        <div class="form-floating form-floating-outline mb-6">
                                            <input type="number" class="form-control" id="DiscountPercent" placeholder="" name="DiscountPercent" aria-label="Phần trăm giảm giá (%)">
                                            <label for="DiscountPercent">Phần trăm giảm giá (%)</label>
                                            <div class="valid-feedback"> Looks good! </div>
                                            <div class="invalid-feedback"> Không được bỏ trống. </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-floating form-floating-outline mb-6">
                                            <input type="number" class="form-control" id="OtherDiscountAmount" placeholder="" name="OtherDiscountAmount" aria-label="Số tiền giảm phát sinh khác (VNĐ)">
                                            <label for="OtherDiscountAmount">Số tiền giảm phát sinh khác (VNĐ)</label>
                                            <div class="valid-feedback"> Looks good! </div>
                                            <div class="invalid-feedback"> Không được bỏ trống. </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end thong tin chung -->
                            </div>
                            <div class="col-md-6">
                                @* ly do giam gia *@
                                <div class="row gx-5 mb-5">
                                    <div class="col-md-12">
                                        <div class="form-floating form-floating-outline mb-6">
                                            <textarea style="height:200px" class="form-control" placeholder="" name="ReasonDiscount" id="ReasonDiscount" aria-label="Lý do giảm giá" required></textarea>
                                            <label for="ReasonDiscount">Lý do giảm giá</label>
                                            <div class="valid-feedback"> Looks good! </div>
                                            <div class="invalid-feedback"> Không được bỏ trống. </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary modal-btn-close" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary modal-btn-submit">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</form>
