
      @* ************** Content ************** *@
      <!-- Xac nhan thanh toan form -->
     <form class="needs-validation modal-form" method="post" asp-controller="HsBookings" asp-action="HuyPhong" enctype="multipart/form-data" data-modal-id="modal-HuyPhong">
        <div class="modal fade" id="modal-HuyPhong" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content card mb-6">
                <div class="modal-header">
                    <h5 class="modal-title card-header" id="modalCenterTitle">XÁC NHẬN HỦY PHÒNG</h5>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="modal"
                            aria-label="Close"></button>
                </div>
                <div class="modal-body card-body">
                        <div class="row gx-5 mb-5">
                            <div class="col-md-12">
                                <div class="form-floating form-floating-outline mb-6">
                                    <input type="hidden" id="Id" name="Id" value="" />
                                    <textarea style="height:100px" class="form-control" placeholder="" name="ReasonCancel" id="ReasonCancel" aria-label="Lý do muốn hủy phòng" required></textarea>
                                    <label for="ReasonCancel">Lý do muốn hủy phòng</label>
                                    <div class="valid-feedback"> Looks good! </div>
                                    <div class="invalid-feedback"> Không được bỏ trống. </div>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary modal-btn-close" data-bs-dismiss="modal">
                        Close
                    </button>
                    <button type="button" class="btn btn-primary modal-btn-submit">Lưu</button>
                </div>
            </div>
          </div>
        </div>
      </form>
        <!-- end Xac nhan thanh toan form -->
