@* ! Brand demo (display only for navbar-full and hide on below xl) *@

@if (ViewData["navbarFull"] != null)
{
  <div class="navbar-brand app-brand demo d-none d-xl-flex py-0 me-6">
  <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link gap-2">
    <span class="app-brand-logo demo">
      @await Html.PartialAsync("../_Partials/_Macros")
      </span>
      <span class="app-brand-text demo menu-text fw-semibold ms-1">@TempData.Peek("appName")</span>
    </a>
  </div>
}

@* ! Not required for layout-without-menu *@
@if (ViewData["navbarHideToggle"] == null)
{
  <div class="layout-menu-toggle navbar-nav align-items-xl-center me-4 me-xl-0 d-xl-none">
  <a class="nav-item nav-link px-0 me-xl-6" href="javascript:void(0)">
    <i class="ri-menu-fill ri-24px"></i>
  </a>
</div>
}

<div class="navbar-nav-right d-flex align-items-center" id="navbar-collapse">

<!-- Search -->
    <div class="navbar-nav align-items-center">
      <div class="nav-item d-flex align-items-center">
        <i class="ri-search-line ri-22px me-2 lh-0"></i>
        <input type="text" class="form-control border-0 shadow-none bg-body" placeholder="Tôi có thể giúp gì cho bạn..." aria-label="Tôi có thể giúp gì cho bạn...">
      </div>
    </div>
 <!-- /Search -->

        <ul class="navbar-nav flex-row align-items-center ms-auto">
         <li class="nav-item dropdown-language dropdown">
                <a class="nav-link btn btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow waves-effect waves-light" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <i class="ri-translate-2 ri-22px"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end py-2">
                    <li>
                        <a class="dropdown-item waves-effect active" href="javascript:void(0);" data-language="en" data-text-direction="ltr">
                            <span class="align-middle">English</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item waves-effect" href="javascript:void(0);" data-language="fr" data-text-direction="ltr">
                            <span class="align-middle">French</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item waves-effect" href="javascript:void(0);" data-language="ar" data-text-direction="rtl">
                            <span class="align-middle">Arabic</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item waves-effect" href="javascript:void(0);" data-language="de" data-text-direction="ltr">
                            <span class="align-middle">German</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!--/ Language -->
            <!-- Style Switcher -->
            <li class="nav-item dropdown-style-switcher dropdown">
                <a class="nav-link btn btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow waves-effect waves-light" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <i class="ri-22px ri-sun-line"></i>
                </a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-styles">
                    <li>
                        <a class="dropdown-item waves-effect active" href="javascript:void(0);" data-theme="light">
                            <span class="align-middle"><i class="ri-sun-line ri-22px me-3"></i>Light</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item waves-effect" href="javascript:void(0);" data-theme="dark">
                            <span class="align-middle"><i class="ri-moon-clear-line ri-22px me-3"></i>Dark</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item waves-effect" href="javascript:void(0);" data-theme="system">
                            <span class="align-middle"><i class="ri-computer-line ri-22px me-3"></i>System</span>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- / Style Switcher-->
            <!-- Notification -->
            <li class="nav-item dropdown-notifications navbar-dropdown dropdown me-4 me-xl-1">
                <a class="nav-link btn btn-text-secondary rounded-pill btn-icon dropdown-toggle hide-arrow waves-effect waves-light" href="javascript:void(0);" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <i class="ri-notification-2-line ri-22px"></i>
                    <span class="position-absolute top-0 start-50 translate-middle-y badge badge-dot bg-danger mt-2 border"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-end py-0">
                    <li class="dropdown-menu-header border-bottom">
                        <div class="dropdown-header d-flex align-items-center py-3">
                            <h6 class="mb-0 me-auto">Thông báo</h6>
                            <div class="d-flex align-items-center">
                                <span class="badge rounded-pill bg-label-primary me-2" id="notificationBadge">8 tin mới</span>
                                <a href="javascript:void(0)" class="btn btn-text-secondary rounded-pill btn-icon dropdown-notifications-all waves-effect waves-light" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Mark all as read" data-bs-original-title="Mark all as read"><i class="ri-mail-open-line ri-20px text-body"></i></a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown-notifications-list scrollable-container ps">
                        <ul class="list-group list-group-flush" id="notificationList">
                        </ul>
                        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div><div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div>
                    </li>
                    <li class="border-top">
                        <div class="d-grid p-4">
                            <a class="btn btn-primary btn-sm d-flex waves-effect waves-light" href="javascript:void(0);">
                                <small class="align-middle">Xem tất cả</small>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <!--/ Notification -->
            <!-- Quick links  -->
            <li class="nav-item dropdown-shortcuts navbar-dropdown dropdown">
            <div class="net-main-menu" id="net-main-menu">
                @* danh sách main menu duoc append vào trong đây, thông qua partial với Id net-main-menu *@
            </div>
            </li>
            <!-- Quick links -->
            <!-- User -->
            <li class="nav-item navbar-dropdown dropdown-user dropdown">
                <a class="nav-link dropdown-toggle hide-arrow p-0" href="javascript:void(0);" data-bs-toggle="dropdown">
                    <div class="avatar avatar-online">
                        <img src="~/img/icons/koa/koa-logo.png" alt="" class="w-px-40 h-auto rounded-circle">
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-end mt-3 py-2">
                    <li>
                        <a class="dropdown-item waves-effect" href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/pages-account-settings-account.html">
                            <div class="d-flex align-items-center">
                                <div class="flex-shrink-0 me-2">
                                    <div class="avatar avatar-online">
                                        <img src="~/img/icons/koa/my-avatar.png" alt="" class="w-px-40 h-auto rounded-circle">
                                    </div>
                                </div>
                                <div class="flex-grow-1">
                                    <h6 class="mb-0 small">Trần Trung Thiện</h6>
                                    <small class="text-muted">Quản trị</small>

                                </div>
                            </div>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item waves-effect" href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/pages-profile-user.html">
                            <i class="ri-user-3-line ri-22px me-2"></i>
                            <span class="align-middle">Hồ sơ của tôi</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item waves-effect" href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/pages-account-settings-account.html">
                            <i class="ri-settings-4-line ri-22px me-2"></i>
                            <span class="align-middle">Cài đặt</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item waves-effect" href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/pages-account-settings-billing.html">
                            <span class="d-flex align-items-center align-middle">
                                <i class="flex-shrink-0 ri-file-text-line ri-22px me-2"></i>
                                <span class="flex-grow-1 align-middle">Dịch vụ</span>
                                <span class="flex-shrink-0 badge badge-center rounded-pill bg-danger h-px-20 d-flex align-items-center justify-content-center">4</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <div class="dropdown-divider"></div>
                    </li>
                    <li>
                        <a class="dropdown-item waves-effect" href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/pages-pricing.html">
                            <i class="ri-money-dollar-circle-line ri-22px me-2"></i>
                            <span class="align-middle">Chi phí</span>
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item waves-effect" href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/pages-faq.html">
                            <i class="ri-question-line ri-22px me-2"></i>
                            <span class="align-middle">FAQ</span>
                        </a>
                    </li>
                    <li>
                        <div class="d-grid px-4 pt-2 pb-1">
                            <a class="btn btn-danger d-flex waves-effect waves-light" href="https://demos.themeselection.com/materio-bootstrap-html-admin-template/html/vertical-menu-template/auth-login-cover.html" target="_blank">
                                <small class="align-middle">Logout</small>
                                <i class="ri-logout-box-r-line ms-2 ri-16px"></i>
                            </a>
                        </div>
                    </li>
                </ul>
            </li>
            <!--/ User -->



        </ul>
</div>




</nav>
        <!-- /navbar -->

@* </div> *@
