@{
    TempData.Keep();
    string? currentPage = ViewContext.HttpContext.Request.Path;
}

<!-- Menu -->
@* ! Do this simple *@
<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">

    @* ! Hide app brand if navbar-full *@
  <div class='app-brand demo @((@ViewData["navbarFull"] != null && Convert.ToBoolean(@ViewData["navbarFull"])) ? "d-xl-none" : "")'>
    <a asp-controller="Dashboards" asp-action="Index" class="app-brand-link">
      <span class="app-brand-logo demo me-1">  @await Html.PartialAsync("../_Partials/_Macros")</span>
      <span class="app-brand-text demo menu-text fw-semibold ms-2">@TempData.Peek("appName")</span>
    </a>

    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto">
      <i class="menu-toggle-icon d-xl-block align-middle"></i>
    </a>
  </div>

  <div class="menu-inner-shadow"></div>

    @* ! Full version menu-items *@
  <ul class="menu-inner py-1">
        <!-- Home booking -->
        <li class="menu-header mt-7"><span class="menu-header-text">KOA Rental Home</span></li>
        <!-- Booking -->
        <li class='menu-item@(currentPage.StartsWith("/") ? " active open" : "")'>
            <a href="javascript:void(0);" class="menu-link menu-toggle">
                <i class="menu-icon tf-icons ri-home-5-line"></i>
                <div>KOA Rental Home</div>
            </a>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/" ? " active" : "")'>
                    <a asp-controller="Dashboards" asp-action="KoaDashboard" class="menu-link">
                        <div><i class="ri-bar-chart-2-line"></i> Dashboard</div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/HsBookings/Index" ? " active" : "")'>
                    <a asp-controller="HsBookings" asp-action="Index" class="menu-link">
                        <div><i class="ri-draft-line"></i> Booking <span class="badge badge-center bg-danger ms-1">4</span></div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/HsBookings/LichBookingThang" ? " active" : "")'>
                    <a asp-controller="HsBookings" asp-action="LichBookingThang" class="menu-link">
                        <div><i class="ri-calendar-2-line"></i> Lịch booking</div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/ChiPhi/Index" ? " active" : "")'>
                    <a asp-controller="ChiPhi" asp-action="Index" class="menu-link">
                        <div><i class="ri-money-dollar-circle-line"></i> Chi phí</div>
                    </a>
                </li>
            </ul>
            <ul class="menu-sub">
                <li class='menu-item@(currentPage == "/HsServices/Index" ? " active" : "")'>
                    <a asp-controller="HsServices" asp-action="Index" class="menu-link">
                        <div><i class="ri-service-line"></i> Dịch vụ</div>
                    </a>
                </li>
            </ul>
        </li>
  </ul>

</aside>
<!-- / Menu -->
